<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>





    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PEKKA"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".detectar_ataques.detectar_ataque" />
        <receiver android:name=".detectar_ataques.conexiones.ReceptorConexionExitosa" />
        <receiver android:name=".detectar_ataques.conexiones.ReceptorConexionFallida" />
        <activity android:name=".mitigar_ataques.mitigar_ataque" />
        <activity android:name=".realizar_ataques.realizar_ataque" />
        <activity android:name=".realizar_ataques.DosDetailsActivity" />
        <activity android:name=".realizar_ataques.DoSAttack" />
        <activity android:name=".mitigar_ataques.AclDetailsActivity" />
        <activity android:name=".mitigar_ataques.ACLImplementation" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>